@import url(./index.css);

/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navigation header */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 10vh;
    background-color: white;
    padding: 2%;
}

ul {
    display: flex;
    justify-content: center;
    gap: 5vh;
    list-style: none;
}

li {
    font-weight: 500;
    background-color: white;
    padding: 5px 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    transition: 0.3s;
}

li:hover {
    background-color: #e1e1e1;
}

.tail-end {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh
}

.logo {
    width: 15vh;
}

.search {
    width: 5vh;
    align-self: flex-end;
    background-color: white;
    padding: 7%;
    border-radius: 50%;
    transition: 0.3s;
}

.search:hover {
    background-color: #e1e1e1;
}

.login {
    background-color: white;
    padding: 5px 10px;
    padding-bottom: 8px;
    border-radius: 5px;
    margin-bottom: auto;
    transition: 0.3s;
}

.login:hover {
    background-color: #e1e1e1;
}

/* Header */
header {
    background-image: url(https://www.volvocars.com/images/cs/v3/assets/blt618dcb179a89242d/blt84af0b0f4c7ad4f2/66d7e4dabe0a562a6c9cf24e/xc90-phev-hero-21x9-desktop.jpg?branch=prod_alias&auto=webp&iar=0&w=1920&imdensity=1), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    background-blend-mode: darken;
    background-position: 40%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.text-box {
    display: flex;
    flex-direction: column;
    text-align: right;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.397);
    align-self: flex-end;
    color: white;
    padding: 5%;
    font-size: large;
    margin-top: 100%;
}

h1 {
    margin-bottom: 2vh;
}

header button {
    all: unset;
    width: 30%;
    align-self: flex-end;
    background-color: white;
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 4% 6%;
    border-radius: 5px;
    margin: 5% 0;
    text-shadow: none;
    font-size: medium;
    transition: 0.3s;
}

header button:hover {
    background-color: rgb(197, 197, 197);
    color: black;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 2vh; */
    padding: 5%;
    gap: 10vh;
}

/* Main top */
.main-top {
    display: flex;
    justify-content: center;
    gap: 2vh;
}

.main-top .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vh;
}

.main-top img {
    width: 2.5vh;
    margin-left: 2vh;
}

.main-top section {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    width: 50vh;
    padding: 2%;
    width: 25%;
    transition: 0.3s;
}

.main-top section:hover {
    background-color: #e1e1e1;
}

/* Main bottom */
.main-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2vh;
}

.card {
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.promo-pic {
    width: 100%;
    height: 60%;
    object-fit: cover;
    margin-bottom: 4vh;
}

.card-button {
    margin-top: auto;
    font-weight: bold;
    border-bottom: 2px solid white;
    width: 25%;
}

.card-button:hover {
    border-bottom: 2px solid black;
}

/* Footer */